<h1>Analytics index</h1>

<%= form_with url: user_search_analytics_path, id: 'user-form' do |f| %> 
  <%= f.select :name, User.all.map { |u| [u.name, u.id] }, :include_blank => "Please select user" %>
<% end %>

<%= link_to "Clear", analytics_path, id: 'clearBtn' %>

<h3>Trending searches</h3>
<div id="analytics">
  <table>
    <% @analytics.each do |search, count| %>
      <tr>
        <td><%= search %></td>
        <td><i><%= count %> count</i></td>
      </tr>
    <% end %>
  </table>
</div>

<%= javascript_pack_tag 'user_analytics', 'data-turbolinks-track': 'reload' %>
