<% if current_user.admin? %>
    <%= link_to "View Analytics", analytics_path %>
<% end %>
<br><br>
<%= form_with model: Analytic.new, id: 'search-form' do |f| %>
  <%= f.text_field :search, id: 'search-text' %>
  <%= f.submit "Search", class:"btn_submit_from btn_hover" %>
<% end %>

<h3 id="notification"></h3>
<h4 id="search-query"></h4>

<%= javascript_pack_tag 'user_search', 'data-turbolinks-track': 'reload' %>