<!DOCTYPE html>
<html>
  <head>
    <title>SearchAnalytics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div>
        <div>Welcome <%= current_user.name %></div>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo: false }, class:"btn btn-danger" %>
      </div>
    <% end %>

    <div>
      <p><%= notice %></p>
      <p><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
